[class^="btn-"],
[class*=" btn-"] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	padding: 0;
	text-decoration: none;
}
.nav-btn{
  font-family: $gotham-medium;
  font-size: 11.75px;
  text-transform: uppercase;
  color: #414252;
  line-height: 30px;
  cursor: pointer;
  &:active, &:focus{
    color: $pink;
  }
}
.lang-btn{
  cursor: pointer;
  color: $pink;
  position: relative;
  font-size: 11.75px;
  font-family: $gotham-medium;
  line-height: 30px;
  text-align: right;
  width: 65px;
  padding: 0 8px;
  border: 2px solid #dbdee2;
  border-radius: 20px;
  text-transform: uppercase;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: calc(50% - 8px);
    background: #dbdee2;
  }
	&.active{
    border-color: $pink;
    color: #000;
    &:before{
      background: $pink;
    }
}
}
.order-btn, .submit-btn{
  cursor: pointer;
  width:180px;
  line-height: 50px;
  background: #a70c5d;
  border-radius: 24px;
  font-family: $gotham-black;
  padding-left: 50px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
	transition: 0.2s;
  &:after{
    content: '';
    position: absolute;
    left: 17px;
    top: calc(50% - 14px);
    width: 22px;
    height: 22px;
    background-image: url('../img/main/icon.png');
    background-position: center;
    background-repeat: no-repeat;
  }
	&:active{
		background-color: #c72b7d;
	}
}
.modal--order{
	padding: 0;
	text-align: center;
	width: 130px;
	line-height: 49px;
	@media(max-width: $max-xs){
		margin: 0 auto;
	}
	&:after{
		display: none;
	}
}
.testimonials--btn{
	line-height: 30px;
	font-size: 11px;
	display: block;
	margin: -20px auto 0;
	text-transform: uppercase;
	font-family: $gotham-black;
	cursor: pointer;
	&:before{
		transition: 0.1s;
		vertical-align: middle;
		margin-right: 9px;
		display: inline-block;
		content: '';
		width: 25px;
		height: 25px;
		background-image: url(../img/testimonials/reload.png);
		background-repeat: no-repeat;
		background-position: center;
	}
}
.hasHover{
	.order-btn, .submit-btn{
		&:hover{
			background-color: #c72b7d;
		}
	}
	.form--service{
		&:hover{
			color: $pink;
			&:before{
				background-image: url(../img/testimonials/list-dot-active.png);
			}
		}
	}
	.testimonials--btn{
		&:hover{
			color: $pink;
		}
	}
  .nav-btn{
    &:hover{
      color: $pink;
      &:after{
        width: 100%;
      }
    }
    &:after{
      margin-top: -5px;
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      background-color: $pink;
      transition: width .3s ease-in-out;
    }
  }
}
