@font-face {
	font-family: 'iconFont';
	src:url('../fonts/iconFont.eot');
	src:url('../fonts/iconFont.eot') format('embedded-opentype'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gotham Pro Medium";
	src: url("../fonts/GothaProMed.otf") format("opentype"),
}
@font-face {
	font-family: "Gotham Pro Bold";
	src: url("../fonts/GothaProBol.otf") format("opentype"),
}
@font-face {
	font-family: "Gotham Pro Regular";
	src: url("../fonts/GothaProReg.otf") format("opentype"),
}
@font-face {
	font-family: "Gotham Pro Black";
	src: url("../fonts/GothaProBla.otf") format("opentype"),
}

// font('Sansation', 'SansationBold', 700);
// @import url('https://fonts.googleapis.com/css?family=Maven+Pro:500')



// Font Variables

// $font-sans = 'Sansation'
