.header {
  padding-top: 47px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: 0.3s;
  background-color: #f5f5f5;
  @media(max-width: $max-sm){
    padding-top: 20px;
  }
  &--container {
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: $max-sm) {
      padding-left: 15px;
      flex-direction: column;
      position: relative;
      justify-content: center;
    }
  }

  &--logo {
    @media(max-width: $max-sm) {
      margin-right: auto;
    }
  }
  &--lang {
    margin-left: 102px;
    margin-right: -18px;
    @media(max-width: $max-sm) {
      display: none;
      margin: 0;
      margin-top: 20px;
    }
  }

  &--mobile-btn {
    position: absolute;
    top: 0;
    right: 0;
    @media(min-width: $min-sm) {
      display: none;
    }
  }
}

.navigation {
  margin-left: auto;

  &--item {
    padding: 0 15px;
    @media(max-width: $max-sm) {
      display: block;
      margin: 0 auto;
      line-height: 40px;
    }
  }
  @media(max-width: $max-sm) {
    display: none;
    margin-left: 0;
  }
}

.mobile-open {
  .lang-btn,
  .navigation {
    display: block;
  }
}
