$time: .2s;
/* MEDIA*/
$min-lg: 1201px;
$min-md: 992px;
$min-sm: 769px;
$min-xs: 426px;

$max-lg: 1200px;
$max-md: 991px;
$max-sm: 768px;
$max-xs: 425px;

/*FONTS */
$fonticon: 'iconFont';
$gotham-medium: 'Gotham Pro Medium', 'san-serif';
$gotham-bold: 'Gotham Pro Bold', 'san-serif';
$gotham-regular: 'Gotham Pro Regular', 'san-serif';
$gotham-black: 'Gotham Pro Black', 'san-serif';
/*COLORS*/
$pink: #ab2970;
